.product-card-container-skeleton {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    margin-top: 16px;
    padding: 1.5rem;
    background-color: var(--color-green-light);
    border-radius: 24px;
}

.product-card-container-skeleton .product-card-content-container-skeleton {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
}

.product-card-container-skeleton
    .product-card-content-container-skeleton
    .product-card-content-skeleton {
    width: 100%;
}

.product-card-container-skeleton
    .product-card-content-container-skeleton
    .product-card-content-skeleton
    .product-card-content-name-skeleton {
    height: 40px;
    margin-top: 0.25rem;
    width: 100%;
    background-color: var(--color-grey-light);
    border-radius: 8px;
}

.product-card-container-skeleton
    .product-card-content-container-skeleton
    .product-card-content-skeleton
    .product-card-reviews-skeleton {
    margin-top: 0.75rem;
    width: 110px;
    height: 24px;
    background-color: var(--color-grey-light);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.product-card-container-skeleton
    .product-card-content-container-skeleton
    .product-card-content-skeleton
    .product-card-listings-skeleton {
    height: 18px;
    margin-top: 1rem;
    width: 75%;
    background-color: var(--color-grey-light);
    border-radius: 8px;
}

.product-card-container-skeleton
    .product-card-content-container-skeleton
    .product-card-content-skeleton
    .product-card-destinations-skeleton {
    height: 18px;
    margin-top: 0.5rem;
    width: 66%;
    background-color: var(--color-grey-light);
    border-radius: 8px;
}

.product-card-container-skeleton
    .product-card-content-container-skeleton
    .product-card-images-skeleton {
    border-radius: 8px;
    aspect-ratio: 16/11;
    position: relative;
    height: 270px;
    width: 100%;
    background-color: var(--color-grey-light);
}

.product-card-container-skeleton .product-card-price-skeleton {
    display: flex;
    width: 100%;
}

.product-card-container-skeleton
    .product-card-price-skeleton
    .product-card-price-inner-skeleton {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 8px;
}

.product-card-container-skeleton
    .product-card-price-skeleton
    .product-card-price-inner-skeleton
    .product-card-price-button-container-skeleton {
    margin-top: auto;
    width: 100%;
    pointer-events: none;
    opacity: 50%;
}

.product-card-container-skeleton
    .product-card-price-skeleton
    .product-card-price-inner-skeleton
    .product-card-price-button-container-skeleton
    div {
    display: block;
    margin-top: 1rem;
}

.product-card-container-skeleton
    .product-card-price-skeleton
    .product-card-price-inner-skeleton
    .product-card-price-from-label-skeleton {
    font-weight: 300;
    opacity: 75%;
}

.product-card-container-skeleton
    .product-card-price-skeleton
    .product-card-price-inner-skeleton
    .product-card-price-from-content-skeleton {
    height: 40px;
    margin-top: 0.25rem;
    width: 100%;
    background-color: var(--color-grey-light);
    border-radius: 8px;
}

@media (min-width: 768px) {
    .product-card-container-skeleton {
        flex-direction: column;
    }

    .product-card-container-skeleton .product-card-content-container-skeleton {
        display: flex;
        flex-direction: row;
    }

    .product-card-container-skeleton
        .product-card-content-container-skeleton
        .product-card-images-skeleton {
        width: 270px;
        min-width: 270px;
        aspect-ratio: 1/1;
    }

    .product-card-container-skeleton
        .product-card-price-skeleton
        .product-card-price-inner-skeleton
        .product-card-price-button-container-skeleton
        div {
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    .product-card-container-skeleton {
        flex-direction: row;
    }

    .product-card-container-skeleton .product-card-price-skeleton {
        min-width: 250px;
        max-width: 250px;
    }

    .product-card-container-skeleton
        .product-card-price-skeleton
        .product-card-price-inner-skeleton
        .product-card-price-button-container-skeleton
        div {
        display: block;
    }
}
