.product-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    margin-top: 16px;
    padding: 1.5rem;
    background-color: var(--color-green-light);
    border-radius: 24px;
}
.product-card-container:first-of-type {
    margin-top: 0;
}

.product-card-container .product-card-content-container {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-content-name {
    font-size: 22px;
    font-weight: 600;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-reviews {
    margin-top: 0.25rem;
    width: 110px;
    min-width: 110px;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-listings {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 1rem;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-listings
    li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.7rem;
    font-size: 16px;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-listings
    li
    .product-card-li-span {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-listings
    li
    svg {
    width: 24px;
    min-width: 24px;
}

.product-card-container
    .product-card-content-container
    .product-card-content
    .product-card-destinations {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 0.25rem;
    font-size: 16px;
}

.product-card-container .product-card-content-container .product-card-images {
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 16/11;
    position: relative;
    height: fit-content;
}

.product-card-container
    .product-card-content-container
    .product-card-images
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-card-container
    .product-card-content-container
    .product-card-images
    .product-card-images-button {
    padding: 0.25rem 0.5rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: var(--color-blue);
    cursor: pointer;
    background-color: var(--color-white);
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.product-card-container
    .product-card-content-container
    .product-card-images
    .product-card-images-button:hover {
    background-color: var(--color-grey-light);
}

.product-card-container .product-card-price {
    display: flex;
    width: 100%;
}

.product-card-container .product-card-price .product-card-price-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 8px;
}

.product-card-container
    .product-card-price
    .product-card-price-inner
    .product-card-price-button-container {
    margin-top: auto;
    width: 100%;
}

.product-card-container
    .product-card-price
    .product-card-price-inner
    .product-card-price-button-container
    a {
    display: block;
    margin-top: 1rem;
}

.product-card-container
    .product-card-price
    .product-card-price-inner
    .product-card-price-promotion {
    padding: 0.75rem;
    background-color: var(--color-orange);
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    width: fit-content;
}

.product-card-container
    .product-card-price
    .product-card-price-inner
    .product-card-price-from-label {
    font-weight: 300;
}

.product-card-container
    .product-card-price
    .product-card-price-inner
    .product-card-price-from-content {
    font-weight: 700;
    font-size: 28px;
    margin-top: 0;
}

.product-card-container
    .product-card-price
    .product-card-price-inner
    .product-card-price-was-content {
    font-size: 16px;
    margin-top: 0;
}

@media (min-width: 768px) {
    .product-card-container {
        flex-direction: column;
    }

    .product-card-container
        .product-card-content-container
        .product-card-content
        .product-card-content-name {
        font-size: 26px;
    }

    .product-card-container .product-card-content-container {
        display: flex;
        flex-direction: row;
    }

    .product-card-container
        .product-card-content-container
        .product-card-images {
        width: 270px;
        min-width: 270px;
        aspect-ratio: 1/1;
    }

    .product-card-container
        .product-card-price
        .product-card-price-inner
        .product-card-price-button-container
        a {
        display: inline-block;
    }

    .product-card-container
        .product-card-price
        .product-card-price-inner
        .product-card-price-promotion {
        width: fit-content;
    }
}

@media (min-width: 1024px) {
    .product-card-container {
        flex-direction: row;
    }

    .product-card-container .product-card-price {
        min-width: 250px;
        max-width: 250px;
    }

    .product-card-container
        .product-card-price
        .product-card-price-inner
        .product-card-price-button-container
        a {
        display: block;
    }

    .product-card-container
        .product-card-price
        .product-card-price-inner
        .product-card-price-promotion {
        width: auto;
    }
}
