:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-green: #aad7d7;
    --color-green-light: #f6fbfb;
    --color-blue: #1e3282;
    --color-orange: #fcc79c;
    --color-white: #ffffff;
    --color-grey-light: #efefef;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--color-blue);
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}

h1:first-of-type,
p:first-of-type {
    margin-top: 0;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }
}

p {
    margin-bottom: 0;
}

strong {
    font-weight: 800;
}

.logo-container {
    padding: 3rem 0;
    text-align: center;
}

.logo-container.logo {
    max-width: 165px;
    width: 100%;
}

label {
    font-weight: 500;
    display: block;
    margin-top: 1rem;
}

select {
    background-color: var(--color-grey-light);
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 1rem 2.25rem 1rem 0.75rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' fill='none'%3E%3Cpath stroke='black' stroke-width='2' d='M14 1 7.5 7 1 1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 50% right 1rem;
    margin-top: 0.3rem;
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.button {
    border-radius: 12px;
    padding: 1rem 1.5rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
    font-size: 18px;
}

.button.button-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 500;
}
.button.button-blue:hover {
    background-color: var(--color-green);
    color: var(--color-blue);
}

.button.button-green {
    background-color: var(--color-green);
    color: var(--color-blue);
    font-weight: 500;
}
.button.button-green:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.hidden {
    display: none;
}

.minus-margin-top {
    margin-top: -16px !important;
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
